html {
	font-family: Verdana, Geneva, sans-serif;
}

body {
	background-image: url("../img/bg.png");
}

footer {
	clear: both;
}

/* Devices Views */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 46%;
	 }
	 
  #FormBox {
	width: 100%;
	}
	
	ul.nav-wizard li {
	padding: 0 20px 0 30px;
    }
    
}

/* Landscape */ 
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 73%;
	 }
	 
	   #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 3.7em 0 30px;
    }
    
    #ViewerExternToolbar {
		margin-left: 32%;
	}

} 

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */ 
@media only screen 
  and (min-device-width: 567px) and (min-width: 567px)
  and (max-device-width: 568px) and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 46%;
	 }
	 
	   #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 20px 0 30px;
    }

} 

/* Landscape */ 
@media only screen 
  and (min-device-width: 567px) and (min-width: 567px)
  and (max-device-width: 568px) and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 88%;
	 }
	 
	   #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 5.07em 0 30px;
    }
    
    #ViewerExternToolbar {
		margin-left: 35%;
	}

} 

/* ----------- iPhone 6 ----------- */

/* Portrait */ 
@media only screen 
  and (device-width: 375px) 
  and (device-height: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 55%;
	 }
	 
	   #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 2em 0 30px;
    }
} 

/* Landscape */ 
@media only screen 
  and (device-width: 667px) 
  and (device-height: 375px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 105%;
	 }
	 
	   #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 6.6em 0 30px;
    }
    
    #ViewerExternToolbar {
		margin-left: 37%;
	}

} 

/* ----------- iPhone 6+ ----------- */

/* Portrait */ 
@media only screen 
  and (device-width: 414px) 
  and (device-height: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 62%;
	 }
	 
	   #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 2.6em 0 30px;
    }

} 

/* Landscape */ 
@media only screen 
  and (device-width: 736px) 
  and (device-height: 414px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 112%;
	 }
	 
	   #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 7.7em 0 30px;
    }
    
    #ViewerExternToolbar {
		margin-left: 37%;
	}

} 

/* ----------- Google Nexus 6 ----------- */

/* Portrait */ 
@media only screen 
  and (device-width: 412px) 
  and (device-height: 732px) 
  and (-webkit-device-pixel-ratio: 3.5)
  and (orientation: portrait) { 
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 55%;
	 }
	 
	   #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 2.6em 0 30px;
    }
    
    #ViewerExternToolbar {
		margin-left: 30%;
	}
} 

/* Landscape */ 
@media screen 
  and (device-width: 732px) 
  and (device-height: 412px) 
  and (orientation: landscape)
  and (-webkit-device-pixel-ratio: 3.5) { 
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 55%;
	 }
	 
	   #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 7.6em 0 30px;
    }
    
    #ViewerExternToolbar {
		margin-left: 38%;
	}
} 



/* ----------- iPad mini ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 90%;
	 }
	 
	   #FormBox {
	width: 20em;
	margin-left:29.5%;
	}
	
		ul.nav-wizard li {
	padding: 0 7.4em 0 30px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 46%;
	 }
	 
	   #FormBox {
	width: 20em;
	margin-left: 35%;
	}
	
		ul.nav-wizard li {
	padding: 0 20px 0 30px;
    }

}

/* G Nexus 7 */

/* Portrait */
@media only screen 
  and (device-width: 600px) 
  and (device-height: 960px) 
  and (orientation: portrait) 
  and (-webkit-device-pixel-ratio: 2) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 80%;
	 }
	 
	 #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 5.5em 0 30px;
    } 	 
    
    #ViewerExternToolbar {
		margin-left: 35%;
	}
}

/* Landscape */
@media only screen 
  and (device-width: 960px) 
  and (device-height: 600px) 
  and (orientation: landscape) 
  and (-webkit-device-pixel-ratio: 2) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 80%;
	 }
	 
	 #FormBox {
	width: 20em;
	margin-left: 30%
	}
	
		ul.nav-wizard li {
	padding: 0 7.4em 0 30px;
    } 	 
    
    #ViewerExternToolbar {
		margin-left: 38%;
	}
}

/* Blackberry Playbook */

/* Portrait */
@media only screen 
  and (device-width: 600px) 
  and (device-height: 1024px) 
  and (orientation: portrait) 
  and (-webkit-device-pixel-ratio: 1) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 80%;
	 }
	 
	 #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 5.5em 0 30px;
    }
    
    #ViewerExternToolbar {
		margin-left: 36%;
	}
	 
	 
}

/* Google Nexus 4 */

/* Portrait */
@media only screen 
  and (device-width: 384px) 
  and (device-height: 640px) 
  and (orientation: portrait) 
  and (-webkit-device-pixel-ratio: 2) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 90%;
	 }
	 
	 #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 2.2em 0 30px;
    }
}

/* Landscape */
@media only screen 
  and (device-width: 640px) 
  and (device-height: 384px) 
  and (orientation: landscape) 
  and (-webkit-device-pixel-ratio: 2) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 90%;
	 }
	 
	 #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 6.2em 0 30px;
    }
    
    #ViewerExternToolbar {
		margin-left: 36%;
	}
}



/* ----------- HTC One ----------- NOKIA N9 / G NEXUS 5 / BLACKBERRY Z30 */

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (orientation: portrait) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 50%;
	 }
	 
	 #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 1.82em 0 30px;
    }

}

/* Landscape */
@media screen 
  and (device-height: 360px) 
  and (device-width: 640px) 
  and (orientation: landscape) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 80%;
	 }
	 
	 #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 6.2em 0 30px;
    }
    
    #ViewerExternToolbar {
		margin-left: 36%;
	}

}

/* Nokia Lumia */

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 533px) 
  and (orientation: portrait) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 45%;
	 }
	 
	 #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 20px 0 30px;
    }

}

/* Landscape */
@media screen 
  and (device-width: 533px) 
  and (device-height: 320px)
  and (orientation: landscape) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 80%;
	 }
	 
	 #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 4.5em 0 30px;
    }
    
    #ViewerExternToolbar {
		margin-left: 34%;
	}

}

/* LG Optimus L70*/

/* Portrait */
@media screen 
  and (device-width: 384px) 
  and (device-height: 640px) 
  and (orientation: portrait)
  and (-webkit-device-pixel-ratio: 1.25) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 45%;
	 }
	 
	 #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 2.2em 0 30px;
    }
    
    #ViewerExternToolbar {
		margin-left: 27%;
	}

}

/* Landscape */
@media screen 
  and (device-width: 640px) 
  and (device-height: 384px)
  and (orientation: landscape)
  and (-webkit-device-pixel-ratio: 1.25) {
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 80%;
	 }
	 
	 #FormBox {
	width: 100%;
	}
	
		ul.nav-wizard li {
	padding: 0 6.2em 0 30px;
    }
    
    #ViewerExternToolbar {
		margin-left: 38%;
	}

}



/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-width: 961px) 
  and (max-width: 1600px)
  and (orientation: landscape)  { 
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 80%;
	 }
	 
	 #FormBox {
	width: 20em;
	}
	
		ul.nav-wizard li {
	padding: 0 20px 0 30px;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-width: 961px) 
  and (min-resolution: 192dpi)
  and (orientation: landscape)
  and (-webkit-max-device-pixel-ratio: 2) { 
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 80%;
	 }
	 
	 #FormBox {
	width: 20em;
	margin-left: 35%;
	}
	
		ul.nav-wizard li {
	padding: 0 20px 0 30px;
    }
}

/* Big Landscape Monitors */

 @media screen 
  and (min-width: 1600px)  { 
  
  iframe {
	 	border: none;
		min-width:5em;
		width: 100%;
		height: 100%;
	 }
	 
	 #FormBox {
	width: 20em;
	margin-left: 38.5%;
	}
	
		ul.nav-wizard li {
	padding: 0 20px 0 30px;
    }
    
    #navBar {
	    margin-left: 37.5%;
	    
    }
}

body.wait, body.wait *{
    cursor: wait !important;   
}


#DropContainer {
	
}

#SignContainer, #DownloadContainer {
	height: 100vh;
}


.methodChooseContainer {
	width: 80px;
	height: 130px;

}

.mainBox {
	margin-top: 20vh;
}

.methodChooseContainer div button {
	margin-top:1em;
}

.ImageBox {
	width: 100px;
	height: 125px;
	text-align:center;
}

.ImageBox:hover {
	cursor:hand;
	cursor:pointer;
	border: 1px dashed;
}

.BKUImage {
	margin-top: 12px;
}

#navBar {
	min-width: 22.94em;
}

#InnerBackBox {
	width: 25em;
	min-width: 25em;
}

#BackBox {
	margin-left: 1.7em;
	width: 2.4em;
}

#BackBox:hover {
	cursor:pointer;
	cursor:hand;
}

#ViewerExternToolbar {
	margin-bottom: 1em;
	min-width: 25em;
}

#ViewerExternToolbar div {
	margin-left:0.5em;
	margin-right:0.5em;
	text-align:center;
	width:5em;
	height:5em;	
}

#ViewerExternToolbar div:hover {
	cursor:hand;
	cursor:pointer;
	margin:0.5em;
	margin-top:0em;
	margin-bottom:0em;
	
	border: 0.1em dashed;
}

#ViewerExternToolbar img {
	width: 3em;
	height: 3em;
}

#fileSelector {
	height: 20em;
}

#dropzone {
	border-bottom: 2px solid;
	border-color: #66A3FF;
	height: 46%;
}

#traditionalUpload {
	text-align: center;
	height: 46%;
}

#main {
	height: 900px;
	width: 800px;
	float: left;
	margin: 0px;
}

#borderBox {
	height: 100vh;
	float: center;
	margin: 1.25em;
	border: 0.2em dashed;
	border-color: black;
}

#FormBox h5 {
	text-align:center;
}

#content {
	clear: both;
	height: 40em;
	font-size: 150%;
	margin-bottom: 5em;
	width: 100%;
}

#noSignatureWarning {
	text-align:center;
}

#btnSign {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 2px solid;
	border-color: #66A3FF;
	background: #66A3FF;
	box-shadow: 0px 0px 15px #333333;
	margin-bottom: 1em;
	width: 20em;
}

#btnSign  h3 {
	color: #FFFFFF;
	margin: 0px;
	height: 2em;
	text-align: center;
	cursor: pointer;
}

.center {
	display: flex;
	justify-content: center; 
	align-items: center; 
}

.container {
	border: 0.125em solid;
	border-color: #66A3FF;
	background: #E8F4FF;
	box-shadow: 0em 0em 1em #333333;
	margin-bottom: 0em;
	margin-left: 5em;
	margin-right: 5em;
	
}

.container h3 {
	font-style: bold;
	color: #204a87;
	text-align: center;
	margin: -0.125em;
	margin-left: -0.6em;
	margin-right: -0.7em;
	height: 2em;	
	margin-top: -0.6em;
}



.container fieldset {
	border: none;
}


.black_overlay{
	display: block;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	display: block;
	position: fixed;
	top: 25%;
	left: 32%;
	width: 36%;
	height: 30%;
	padding: 16px;
	border: 4px solid orange;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

.white_content div {
	z-index: -1;
}

.white_content a {
	z-index: 3000;
}

#noPdfMessage
{
	color: red;
}

#ContinueButtonBox {
	
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}