html {
	font-family: Verdana, Geneva, sans-serif;
}

body {
	background-image: url("../img/bg.png");
}

footer {
	clear: both;
}

iframe {
	border: none;
	min-width:10em;
}

.methodChooseContainer {
	width: 80px;
	height: 130px;
	text-align: center;
}

.methodChooseContainer div button {
	margin-top:1em;
}

#methodContainer {
	margin: 2em;
}

#ImageBox {
	width: 80px;
	height: 85px;
}

.BKUImage {
	margin-top: 12px;
}

#navBar {
	margin: 2em;
	min-width: 25em;
}

#ViewerExternToolbar {
	margin-bottom: 1em !important;
	min-width: 25em;
}

#ViewerExternToolbar div {
	margin-left:0.5em;
	margin-right:0.5em;
	text-align:center;
	width:5em;
	height:5em;	
}

#ViewerExternToolbar div:hover {
	cursor:hand;
	cursor:pointer;
	margin:0.5em;
	margin-top:0em;
	margin-bottom:0em;
	
	border: 0.1em dashed;
}

#ViewerExternToolbar img {
	width: 3em;
	height: 3em;
}

#fileSelector {
	height: 20em;
}

#dropzone {
	border-bottom: 2px solid;
	border-color: #66A3FF;
	height: 46%;
}

#traditionalUpload {
	text-align: center;
	height: 46%;
}

#main {
	height: 900px;
	width: 800px;
	float: left;
	margin: 0px;
}

#borderBox {
	height: 40em; 
	width: 100%; 
	float: center;
	margin: 1.25em;
	border: 0.2em dashed;
	border-color: black;
}

#content {
	clear: both;
	height: 40em;
	font-size: 150%;
	margin-bottom: 5em;
}

#noSignatureWarning {
	text-align:center;
}

#btnSign {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 2px solid;
	border-color: #66A3FF;
	background: #66A3FF;
	box-shadow: 0px 0px 15px #333333;
	margin-bottom: 1em;
	width: 20em;
}

#btnSign  h3 {
	color: #FFFFFF;
	margin: 0px;
	height: 2em;
	text-align: center;
	cursor: pointer;
}

.center {
	display: flex;
	justify-content: center; 
	align-items: center; 
}

.container {
	border: 0.125em solid;
	border-color: #66A3FF;
	background: #E8F4FF;
	box-shadow: 0em 0em 1em #333333;
	margin-bottom: 0em;
	margin-left: 5em;
	margin-right: 5em;
	width: 100%;
}

.container h3 {
	font-style: bold;
	color: #204a87;
	text-align: center;
	margin: -0.125em;
	margin-left: -0.6em;
	margin-right: -0.7em;
	height: 2em;	
}

.container fieldset {
	border: none;
}


.black_overlay{
	display: block;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	display: block;
	position: fixed;
	top: 25%;
	left: 32%;
	width: 36%;
	height: 30%;
	padding: 16px;
	border: 4px solid orange;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

.white_content div {
	z-index: -1;
}

.white_content a {
	z-index: 3000;
}

#noPdfMessage
{
	color: red;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}